.footer {
  height: 250px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footerContainer {
  width: 70%;
}

.footerContainer p {
  font-family: 'Work Sans';
  margin: 5px;
  color: rgb(163, 163, 163);
}

#bigText {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}