.explain {
  width: 100%;
  height: 400px;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.explainContainer {
  width: 70%;
  padding: 30px;
  border-radius: .6em;
  color: rgb(0, 0, 0);
  font-family: -apple-system,BlinkMacSystemFont,sans-serif,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial;
  font-size: 40px;
  transition: all .6s cubic-bezier(0,.5,.51,1);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.explainContent {
  width: 50%;
}

.explainContainer h2 {
  font-size: 40px;
}

.explainContainer p {
  font-size: 18px;
}

.iphone img {
  width: 300px;
  margin-right: 30px;
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
}

@media only screen and (max-width: 980px) {
  .explain {
    height: 475px;
  }
  
  .explainContainer p {
    font-size: 17px;
  }

  .explainContent {
    width: 40%;
  }
  
  .iphone img {
    width: 260px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 770px) {

  .explainContainer {
    margin-top: 0px;
    flex-direction: column;
  }
  .iphone img {
    margin-top: 5px;
    width: 100%;
  }
  .explainContent {
    width: 100%;
  }
  .explain {
    height: 850px;
  }
}

.iphone {
  animation-name: fade;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0,.51,.1,1);
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate(0px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}