.homeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome {
  background: linear-gradient(-45deg, rgba(0,9,36,1) 0%, rgba(75,183,252,1) 0%, rgb(131, 82, 236) 100%);
  width: 70%;
  height: 200px;
  padding: 30px 50px 80px 50px;
  border-radius: .6em;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,sans-serif,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial;
  font-size: 40px;
  transition: all .6s cubic-bezier(0,.5,.51,1);
	margin-top: 60px;
	margin-bottom: 60px;
  -webkit-box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 40px -5px rgba(0,0,0,0.2);
}

.welcome em {
  font-weight: 600;
  font-size: 30px;
}

.instructions {
  margin-top: 15px;
  font-weight: 600;
  font-size: 25px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.instruction {
  display: block;
}

.instruction h3 {
  float: left;
}

.instruction p {
  float: left;
  margin-top: -5px;
  margin-left: 0px;
  font-weight: 400;
}

@media only screen and (max-width: 770px) {

  .welcome {
    height: 250px;
    padding: 15px 25px 100px 25px;
  }

  .instructions {
    flex-direction: column;
  }

  .instruction p {
    margin: 30px 0px 0px 20px;
  }
}

@media only screen and (min-width: 1010px) {

  .welcome {
    height: 250px;
    padding: 15px 25px 100px 25px;
  }

  .instructions {
    flex-direction: column;
  }

  .instruction p {
    margin: 30px 0px 0px 20px;
  }

}


